version: "3.8"

services:
  app:
    build: .
    container_name: season_snap
    restart: always
    ports:
      - "3000:80"

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: always
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker

  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiMzgzZTJkMTdmN2QzMmYwZDgyOWY3NzI0ZTdiZjA4YzIiLCJ0IjoiMGVlMmVjNGEtY2Q3Yi00NTEwLWEyMDUtYjY4N2IwNDY1ZGFiIiwicyI6IlpURTBPV0V5T1RVdE9UWTRNUzAwTW1SakxXSmxOemd0Wm1ObU5HRTBNMkl3WlRnMSJ9